.foto-uploader-contenedor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 250px;
  margin-right: 1.5rem;
  align-items: flex-start; /* Asegura alineación a la izquierda */
}

.foto-uploader-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.foto-uploader-item label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}

.foto-uploader-preview {
  width: 230px;
  height: 170px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0.3rem 0;
}

.foto-uploader-item input[type="file"] {
  font-size: 0.85rem;
}

.foto-uploader-contenedor button {
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
#foto-upload-input + label {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: #2196F3;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 0.5rem;
}

#foto-upload-input + label:hover {
  background-color: #1769aa;
}