.habitacion-card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.habitacion-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.habitacion-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

.habitacion-titulo {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.habitacion-desc {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.7rem;
}

.habitacion-iconos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}

.habitacion-iconos div {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.habitacion-precio {
  color: #007bff;
  font-weight: 600;
  text-align: right;
}
