.header {
  background-color: #000;
  color: white;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 25px 25px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  height: 70px;
}

.menu-item {
  font-size: 1rem;
  cursor: pointer;
}

.right-area {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.user-button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.hamburger {
  cursor: pointer;
}
